@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f7f9f7] text-slate-800 selection:bg-ayurveda-200 selection:text-ayurveda-900;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c2d6c2;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #73a573;
}
